.toDoInput{
    font-size:14px;
    color:black;
    padding:5px;
    margin-right: 7px;
}
.addBtn{
    padding:5px;
    font-size:14px;
    color:black
}

.kfjldf{
    font-size:14px;
    color:black
}